/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #d9c3a7; /* Fondo bambu beige */
    color: #637f52;
    margin: 0;
    padding: 0;
}

header {
    background-color: #e6d2b9;
    padding: 20px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
}

h2 {
    font-size: 2em;
    color: #637f52;
}

p {
    font-size: 1.2em;
    color: #637f52;
}

/* Links de redes sociales */
.links-section {
    text-align: center;
    margin: 20px 0;
}

.links {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.link {
    padding: 10px 20px;
    background-color: #e6d2b9;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.link:hover {
    transform: translateY(-5px);
    background-color: #42A5F5;
}

/* Mapa de ubicación */
.map-container {
    position: relative;
    padding-bottom: 56.25%; /* Relación de aspecto 16:9 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: #637f52; /* Fondo por si el mapa no carga */
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}


/* Footer */
footer {
    background-color: #42A5F5;
    padding: 10px;
    text-align: center;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: #637f52;
    margin: 0 10px;
    font-size: 1.5em;
    transition: transform 0.3s ease;
}

.social-icons a:hover {
    transform: translateY(-5px);
}
